/* Phone Css */
body{
    background-color: rgb(74, 71, 77);
}
header{
    background-color: cornsilk;
    padding: 10px;
    border-color: rgb(12, 11, 11);
}
header h1 {
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px; 
}
nav {
background-color: darkgray;
text-align: center;
padding: 10px;
margin: 10px;
border-radius: 10px;
}
 nav ul {
    list-style-type: none;
    padding: 20px;

 }
 nav li a {
    background-color: darkslategrey;
    color: plum;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
    font-size: 20px;
    text-decoration: 20px;
    border-radius: 10px;
 }
  nav li a:hover {
    background-color: darkmagenta;

  }
  main {
    background-color: darkorchid;
    padding: 20px;
    border-radius: 10px;

  }
  main h2,
    text-emphasis


  
  main h3 {
    color: gray;
    text-shadow: 1px 1px 1px; color: darkgrey;
    text-align: center;
  }
  main img {
    width: 60%;
  }

footer{
    background-color: blueviolet;
    padding: 40px;
    margin-top: 10px;
    border-radius: 10px;
    

}
img {
display: block;
width: 95%;
margin: 0 auto;
}
aside ul li{
  display: flex;
}
/* Tablet Css */
@media (min-width: 768px) {
    body{
        background-color: aliceblue;

    }

    
}
/*Desktop Css */

@media (min-width: 1024px){
    body{
        background-color: black;
        color: azure;
        margin: 20px; 

    }
    nav {
      background-color: black;
      margin: 10px; 
      padding: 5px;

    }
    #main_section {
      display: flex;

    }
    section,
    aside{
      margin: 10px;
      border: 4px indigo; 
      border-radius: 10px;
    }
    section{
      width: 70%;
      padding: 10px;

    }
    aside {
      width: 30%;

    }
    .col img {
      width: 40%;

    }
    #onepage {
      width: 100%;
      
    }
}